.modal{
    position:fixed;
    z-index:999;
    top:10;
    left:100;
    width:100%;
    min-height:100vh;
    background-color:rgba(199,199,199,0.95);
    display:none;
    justify-content:center;
    align-items:center;

}

.modal.is-open{
    display:flex;
}

.modal-container{
    padding:5px;
    position:relative;
    background-color:#EDA;
    min-width:50%;
    max-width:100%;
    min-height:50%;
    max-height:100%;
    overflow-y:auto;
    
}

.modal-close{
    position:absolute;
    top:5px;
    right:5px;
}